* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.header {
  height: 75px;
  flex-shrink: 0;
  background-color: #222;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

.header__nav {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__img {
  margin-right: 41px;
}

.header__mini2 {
  display: none;
}

.main {
  background-color: #F1E4E6;
  margin-bottom: 65px;
}

.brand {
  margin-right: 16px;
  width: 12px;
  height: 92px;
  flex-shrink: 0;
  background-color: #F16D7F;
  margin-left: 57px;
}

.text__brand {
  color: #222;
  font-family: Lato;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.text__lux {
  color: #222;
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text__fash {
  color: #F16D7F;
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__left {
  width: 50%;
}

.main__right {
  display: flex;
  width: 50%;
}

.main__img {
  width: 65%;
}

.text__main {
  display: flex;
  width: 73%;
  height: 93px;
  align-items: center;
  align-content: stretch;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content {
  background: #FFF;
}

.menu {
  width: 31.5%;
  flex-shrink: 0;
  /* background-color: rgba(33, 22, 22, 0.70); */
  /* background-image: url(img/cont1.svg); */
}

.menu__big {
  width: 100%;
  flex-shrink: 0;
  margin-top: 30px;
  /* background-color: rgba(33, 22, 22, 0.70); */
}

.menu__img {
  width: 100%;
  height: 100%;
}

.content__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 96px;
}

.content__subtitle {
  color: #222;
  font-family: Lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content__text {
  color: #9F9F9F;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content__title {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 49px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin-bottom: 25px;
  width: 31.5%;
  flex-shrink: 0;
  background-color: #F8F8F8;
}

.card:hover {
  background-color: rgba(58, 56, 56, 0.8588235294);
  opacity: 0.7;
}

.img2 {
  background-color: #F7E4E2;
}

.card__flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.info__card {
  background-color: #F8F8F8;
}

.tit__card {
  color: #000;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 24px;
}

.text__card {
  color: #5D5D5D;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 16px;
}

.price__card {
  color: #F16D7F;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 24px;
}

.footer__but {
  color: #F26376;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 212px;
  height: 48px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #FF6A6A;
  text-decoration: none;
}

.footer__but:hover {
  background-color: #F26376;
  color: white;
  transition: all 0.3s;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 60px;
}

.footer__cont {
  background-color: #222224;
  display: flex;
}

.footer__tit {
  color: #FBFBFB;
  font-family: Lato;
  font-size: 19.96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}

.footer__text {
  color: #FBFBFB;
  text-align: center;
  font-family: Lato;
  font-size: 13.972px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.footer__card {
  display: flex;
  width: 25%;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  margin-top: 104px;
  margin-bottom: 104px;
}

.footer__block {
  display: flex;
  justify-content: space-between;
}

.footer__img {
  margin-bottom: 28px;
}

.footer__subscribe__block {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer__subscribe {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__subscribe::before {
  content: "";
  background-image: url(img/Layer.png);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
}

.footer__subscribe {
  height: 448px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.footer__subscribe__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__subscribe__text {
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__subscribe__title {
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 167.2%;
  /* 40.128px */
}

.footer__subscribe__subtitle {
  color: #222224;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.2%;
  text-align: center;
}

.footer__info {
  background-color: #222224;
}

.footer__info__block {
  /* height: 79px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__info__text {
  color: #FBFBFB;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__info__menu {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
}

.footer__icons {
  width: 32px;
  height: 32px;
  background-color: #fff;
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__icons__inst {
  background-color: #F16D7F;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .container {
    padding: 0% 2% 0;
  }
  .text__brand {
    font-size: 44px;
  }
  .text__lux {
    font-size: 24px;
  }
  .text__fash {
    font-size: 24px;
  }
  .text__main {
    width: 282px;
  }
  .card {
    width: 49%;
  }
  .footer__block {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
  }
  .footer__card {
    display: flex;
    width: 45%;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    margin: 48px;
  }
  .footer__cont {
    flex-wrap: wrap;
  }
  .footer__subscribe__container {
    flex-direction: column;
  }
  .footer__subscribe__block {
    margin-bottom: 48px;
  }
}
@media (max-width: 767px) and (min-width: 320px) {
  .container {
    padding: 0% 2% 0;
  }
  .main__left {
    display: none;
  }
  .header__mini1 {
    display: none;
  }
  .header__mini2 {
    display: block;
  }
  .text__brand {
    font-size: 38px;
  }
  .text__lux {
    font-size: 20px;
  }
  .text__fash {
    font-size: 20px;
  }
  .text__main {
    width: 250px;
  }
  .main__right {
    width: 100%;
    justify-content: center;
  }
  .brand {
    margin-left: 0;
  }
  .menu {
    padding: 10px;
    width: 100%;
  }
  .card {
    width: 100%;
    margin: 10px;
  }
  .footer__block {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
  }
  .footer__card {
    display: flex;
    width: 45%;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    margin: 48px;
  }
  .footer__cont {
    flex-wrap: wrap;
  }
  .footer__subscribe__container {
    flex-direction: column;
  }
  .footer__subscribe__block {
    margin-bottom: 48px;
  }
  .footer__subscribe__title {
    font-size: 24px;
  }
  .footer__subscribe__subtitle {
    font-size: 14px;
  }
  .footer__subscribe__text {
    font-size: 18px;
  }
  .footer__info__block {
    flex-direction: column-reverse;
  }
}
.nav {
  background-color: #F8F3F4;
}
.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__container__left {
  color: #F16D7F;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 60px;
  margin-bottom: 60px;
}
.nav__container__right {
  color: #636363;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.nav__container__right__pink {
  font-weight: 700;
  color: #F16D7F;
}

.card__page1 {
  margin-bottom: 128px;
}

.product {
  height: 200px;
  width: 100px;
}

.info1 {
  color: #F16D7F;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 64px;
}

.info2 {
  margin: 12px 0;
}

.info3 {
  color: #4D4D4D;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 48px;
}

.info4 {
  color: #5E5E5E;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 32px;
}

.info5 {
  color: #EF5B70;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.info6 {
  margin: 64px 0;
}

.info7 {
  color: #6F6E6E;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  margin: 48px;
}

.info71 {
  margin: 0 40px;
}

.info8 {
  margin-bottom: 64px;
}

.info {
  max-width: 555px;
}

.product__container {
  border: 2px solid #EAEAEA;
  position: absolute;
  top: 960px;
  left: 618px;
  width: 1140px;
  background-color: #fff;
  z-index: 1000;
}

.contant__container {
  margin-top: 664px;
}/*# sourceMappingURL=style.css.map */