* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.header {
    height: 75px;
    flex-shrink: 0;
    background-color: #222;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
}

.header__nav {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
}

.logo__img {
    margin-right: 41px;
}

.header__mini2 {
    display: none;
}

.main {
    background-color: #F1E4E6;
    margin-bottom: 65px;
}

.brand {
    margin-right: 16px;
    width: 12px;
    height: 92px;
    flex-shrink: 0;
    background-color: #F16D7F;
    margin-left: 57px;
}

.text__brand {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.text__lux {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text__fash {
    color: #F16D7F;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__left {
    width: 50%;
}

.main__right {
    display: flex;
    width: 50%;
}

.main__img {
    width: 65%;
}

.text__main {
    display: flex;
    width: 73%;
    height: 93px;
    align-items: center;
    align-content: stretch;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content {
    background: #FFF;
}

.menu {
    width: 31.5%;
    flex-shrink: 0;
    /* background-color: rgba(33, 22, 22, 0.70); */
}

.menu__big {
    width: 100%;
    flex-shrink: 0;
    margin-top: 30px;
    /* background-color: rgba(33, 22, 22, 0.70); */
}

.menu__img {
    width: 100%;
}

.content__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 96px;
}

.content__subtitle {
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content__text {
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content__title {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 49px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    margin-bottom: 25px;
    width: 31.5%;
    flex-shrink: 0;
    background-color: #F8F8F8;
}

.img2 {
    background-color: #F7E4E2;
}

.card__flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.info__card {
    background-color: #F8F8F8;
}

.tit__card {
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 24px;

}

.text__card {
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 16px;
}

.price__card {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 24px;
}

.footer__but {
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 212px;
    height: 48px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FF6A6A;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 60px;
}

@media (max-width: 1024px) and (min-width: 768px) {
    .container {
        padding: 0% 2% 0;
    }

    .text__brand {
        font-size: 44px;
    }

    .text__lux {
        font-size: 24px;
    }

    .text__fash {
        font-size: 24px;
    }

    .text__main {
        width: 282px;
    }

    .card {
        width: 49%;
    }
}

@media (max-width: 767px) and (min-width: 320px) {

    .container {
        padding: 0% 2% 0;
    }

    .main__left {
        display: none;
    }

    .header__mini1 {
        display: none;
    }

    .header__mini2 {
        display: block;
    }
    
    .text__brand {
        font-size: 38px;
    }

    .text__lux {
        font-size: 20px;
    }

    .text__fash {
        font-size: 20px;
    }

    .text__main {
        width: 250px;
    }

    .main__right {
        width: 100%;
        justify-content: center;
    }

    .brand {
        margin-left: 0;
    }

    .menu {
        padding: 10px;
        width: 100%;
    }

    .card {
        width: 100%;
        margin: 10px;
    }
}